@keyframes popup {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: none;
	}
}

@mixin background($path, $fill) {
    font-weight: 500;

    .css-1fhf191 {    
        svg {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="#{$path}" fill="#{$fill}"/></svg>') center/100% no-repeat;
            width: 20px;
            height: 20px;
            right: 7px;
            top: 11px;
        }
    }
}

#app-mount {
    .css-gvi9bl-control, .css-17e1tep-control {
        @include background("M4 7l5 5 5-5H4z", "%23DCDDDE");
    }
    .css-17mfgdg-container {
        @include background("M4 7l5 5 5-5H4z", "%23595C61");
    }
    .css-6fzn47-control {
        @include background("M4 11l5-5 5 5H4z", "%23DCDDDE");
    }

    .css-3vaxre-menu {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
        border-radius: 0;
        animation: popup 0.2s ease-out;
        font-weight: 500;

        .css-1yz4bi9-option {
            color: var(--interactive-normal);
            font-weight: 500;
        }
        
        .css-rzbxvl-option {            
            background-color: var(--background-secondary-alt);
            color: var(--interactive-hover);
            font-weight: 500;
        }
        
        .css-1ba14n5-option {
            background-color: var(--background-tertiary);
            color: var(--text-normal);
            font-weight: 500;

            &::after {
                content: "";
                position: absolute;
                background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z" fill="%237289DA"/></svg>') center/100% no-repeat;
                width: 20px;
                height: 20px;
                right: 14px;
            }
        }
    }
}
